@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#logo{
 
  align-items: center;
  padding-left: 18px;
  border-radius: 40%;
}
#login{
  background-color: #1b2846;
  color:#7b7c90;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  border: 1;
}
.container{
  background-color: #192237;
  padding: 20px 40px;
  border-radius: 5px;
}
.container h1 {
  text-align: center;
  margin-bottom: 30px;
}
p{
  text-align: center;
  margin-bottom: 30px;

}
.container a {
  text-decoration: none;
  color: #e8d7bc;
}
#login-form-submit{
  display: inline-block;
  width: 100%;
  cursor: pointer;
  background-color: #3b465e;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}
.btn:focus{
  outline: 0;
}
.btn:active{
  transform: scale(0.98);
}
.text{
  margin-top: 30px;
}
.form-control{
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}
.form-control input{
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  display: block;
  width: 100%;
  padding: 15px 0 10px 0;
  font-size: 18px;
  color: #fff;
}
.form-control input:focus,
.form-control input:valid{
  outline: 0;
  border-bottom-color: rgb(97, 106, 241);
}
.form-control label{
  position: absolute;
  top: 15px;
  left: 0;
}
.form-control label span{
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control input:focus + label span,
.form-control input:valid + label span{
  color: rgb(97, 106, 241);
  transform: translateY(-30px);
}

.slideshow{
  max-width: fit-content;
  position: relative;
  margin: auto;
}
.slidefade{
  display: none;
}

.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from{opacity:4}
  to{opacity: 1;}
}

.nav{
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #192237;
  height: 100%;
  position: fixed;
  overflow: auto;
 
}
.navitem{
  display: block;
  color: #7b7c90;
  padding: 18px 36px;
}

.navitem.active{
  background-color: #04aa6D;
  color: aliceblue;
}
.navitem:hover:not(.active){
  background-color: #3b465e;
  color: white;
}
#col{
  color:#7b7c90;
  font-family:'Muli', sans-serif ;
  text-decoration: none;
}
.reg{
  font-family: inherit;
  font-size: 16px;
  border: 0;
  text-align: justify;
}
.navbar{
  display: flex;
  background-color: #3b465e;
  border-radius: 37px;
  border-style: solid
  
}
.navbar video{
  flex-grow: 1;
  
}
.sort{
  display: flex;
  
}
.collection-sort{
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  margin-left: 10px;
  margin-top: 50px;
  
}
.books{
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
 
  
}
section{
  justify-content: safe;
}
.product-card{
  padding: 0%;
  flex-grow: 1;
  flex-basis: 16%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color:#192237;
  border-radius: 37px;
  border:1px #7b7c90;
  border-style: solid 
}
.product-card-static{
  background-image: url("../new1/img/boo2.jpg");
  background-size: cover;
}

.product-image img{
 
  max-width: 100%;
  max-height: 100%;


}
.product-info{
  margin-top: auto;
}
.books .product-card:first-child,
.books .product-card:nth-child(2){
  flex:2 50%;
}
@media(max-width:600px){
  .product-card{
    flex: 1 50%;
  }
}
@media(max-width:480px){
  .navbar{
    flex-direction: column;
  }
}
@media(max-width:480px){
  .navbar{
    flex-direction: column;
  }
  .sort{
    align-self: flex-start;
  }
}
.home-page{
  background-color: #1b2846;
  color:#7b7c90;
  font-family: 'Muli', sans-serif;
  height: 100vh;

}
.mySlides {
  display: none;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.imgsize{
  border-radius: 37px;
  max-width: inherit;
  border-style: outset;
  border-color: #1b2846;
 }
/* center products */
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
.row {
  display: flex;
  border-radius: 37px;
  align-items: center;
  
}

.column {
  flex: 33.33%;
  padding: 15px;
}
